<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593851971281-o5g6798tuptfepfhbkpt3pldfdrm0urb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593851971281-o5g6798tuptfepfhbkpt3pldfdrm0urb</string>
	<key>API_KEY</key>
	<string>AIzaSyBbuymvK2zWhULtivrPl3Lq6zRWuwF3R8A</string>
	<key>GCM_SENDER_ID</key>
	<string>593851971281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peacheese.peachMarket</string>
	<key>PROJECT_ID</key>
	<string>peach-market-a370b</string>
	<key>STORAGE_BUCKET</key>
	<string>peach-market-a370b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593851971281:ios:0c959b8a64ce5e09d2b7f0</string>
</dict>
</plist>